<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body})}">
<head>    
    <title>Envíos Bios - Paquetes - Detalle</title>   
</head>
<body th:remove="tag">
    <h1>Detalle de Paquete</h1>
    <a th:href="@{/paquetes}" class="volver underline">Volver</a>
    
    <th:block th:if="${paquetes}">
        <h2 th:text="${paquetes.id}"></h2>

        <ul>
            <li>Fecha de Registro: <span th:text="${#temporals.format(paquetes.fechaHora, 'dd/MM/yyyy HH:mm')}"></span></li>
            <li>Nombre Destinatario: <span th:text="${paquetes.nombreDestinatario}"></span></li>
            <li>Direccion Destinatario: <span th:text="${paquetes.direccionDestinatario}"></span></li>
            <li>TelefonoDestinatario: <span th:text="${paquetes.telefonoDestinatario}"></span></li>
            <li>Categoria: <span th:text="${paquetes.categoria.nombre}"></span></li>
            <li>A cobrar: <span th:text="${paquetes.cobroADestinatario ? 'Sí' : 'No'}"></span></li>  
            <li>Estado de Rastreo: <span th:text="${paquetes.estadoRastreo.descripcion}"></span></li>  
            <!-- <li>Cliente: <span th:text="${paquetes.cliente} ? ${paquetes.cliente.cedula} : ''"></span></li>    -->
        </ul>
    </th:block>
    
    <p th:if="${mensaje}" th:text="${mensaje}"></p>   
</body>
</html>