<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body})}">
<head>    
    <title>Envíos Bios - Paquetes - Eliminar</title>   
</head>
<body th:remove="tag">
    <h1>Eliminar Paquete</h1>
    <a th:href="@{/paquetes}" class="volver underline">Volver</a>

    <form th:if="${paquete}" method="post" th:object="${paquete}">
        ¿Confirma que desea eliminar el paquete?
        <div>
            <h2 th:text="*{id}"></h2>
            <p th:text="*{nombreDestinatario}"></p>           
        </div>        
        <div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="submit" value="Eliminar" class="boton">
        </div>
    </form>
    
    <p th:if="${mensaje}" th:text="${mensaje}"></p>    
    
</body>
</html>