<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body})}">
<head>    
    <title>Envíos Bios - Mis Envios - Cuenta</title>   
</head>
<body th:remove="tag">
    <h1>Mis Envios</h1>    
    <!-- <table class="listado">
        <tr>
            <th>Identidicador</th><th>Estado de Rastreo</th>
        </tr>
        <tr th:each="p : ${paquetes}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.estadoRastreo.descripcion}"></td>
        </tr>
    </table>
    
    <p th:if="${mensaje}" th:text="${mensaje}"></p>    -->
</body>
</html>