<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body})}">
<head>    
    <title>Envíos Bios - Ingresar</title>
    <link rel="stylesheet" href="../static/css/estilos.css">   
</head>
<body th:remove="tag">
    <div class="formulario-registro">
        <h1>Registro</h1>
        <form method="post" class="form-registro" th:object="${cliente}">
            <div class="username-registro">                            
                <input type="text" name="username" id="nombreUsuario" th:field="*{nombreUsuario}">
                <label for="nombreUsuario">Nombre de Usuario</label> 
                <p th:errors="*{nombreUsuario}" class="errores" th:style="'color:crimson;'"></p>
            </div>
            <div class="username-registro">                            
                <input type="email" name="email" id="email" th:field="*{correo}">
                <label for="email">Email</label> 
                <p th:errors="*{correo}" class="errores"></p>
            </div>
            <div class="username-registro">                            
                <input type="text" name="cedula" id="cedula" th:field="*{cedula}">
                <label for="cedula">Cédula</label> 
                <p th:errors="*{cedula}" class="errores"></p>
            </div>
            <div class="username-registro">                            
                <input type="text" name="domicilio" id="domicilio" th:field="*{domicilio}">
                <label for="domicilio">Domicilio</label> 
                <p th:errors="*{domicilio}" class="errores"></p>
            </div>
            <div class="username-registro">                            
                <input type="tel" name="telefono" id="telefono" th:field="*{telefono}">
                <label for="telefono">Télefono</label> 
                <p th:errors="*{telefono}" class="errores"></p>
            </div>
            <div class="username-registro">                             
                <input type="password" name="password" id="contrasena" th:field="*{clave}">
                <label for="contrasena">Contraseña</label>  
                <p th:errors="*{clave}" class="errores"></p>
            </div>
            <div class="username-registro">                             
                <input type="password" name="passwordrepetida" id="contrasenarepetida">
                <label for="contrasena">Repetir Contraseña</label>  
            </div>
            <div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="submit" value="Registrarse" class="boton">
            </div>
        </form>
    
        <br>       
    </div>    
    <p th:if="${mensaje}" th:text="${mensaje}"></p>
    
    

    <script>
        document.getElementById('nombreUsuario').focus();
        document.getElementById('nombreUsuario').select();
    </script>
</body>
</html>