<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envíos Bios - Estados de Rastreo - Agregar</title>
</head>
<body th:remove="tag">
    <h1>Agregar Estado de Rastreo.</h1>
    <a th:href="@{/estados}" class="volver underline">Volver</a>

    <form method="post" th:object="${estadoRastreo}">
        <div>
            <label for="descripcion">Descripcion</label>
            <input type="text" th:field="*{descripcion}" id="descripcion" placeholder="a levantar">
            <p th:errors="*{descripcion}" class="errores"></p>
        </div>
        <div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="submit" value="Agregar" class="boton">
        </div>
    </form> 

    <p th:if="${mensaje}" th:text="${mensaje}"></p>
    
    <script>
        document.getElementById('descripcion').focus();
        document.getElementById('descripcion').select();
    </script>
</html>